# config/boot.env.example

# ==============================================================================
# WAID - Workspace & Logging Configuration
# ==============================================================================

WAID_CONFIG_DIR=$WAID_SOURCE/config
WAID_DATA_DIR=$WAID_SOURCE/data
WAID_DEPLOY_DIR=$WAID_SOURCE/deploy
WAID_DOCS_DIR=${WAID_SOURCE}/docs

WAID_LOG_DIR=${WAID_SOURCE}/logs
WAID_LOG_LEVEL=DEBUG
PREFECT_LOGGING_LEVEL=${WAID_LOG_LEVEL}

# Enable simuation mode for testing and development (True | False)
WAID_SIM_MODE=False

# Enable override of env vars
WAID_ALLOW_ENV_OVERRIDE=True

# Disable oneDNN optimizations to ensure deterministic CPU results
TF_ENABLE_ONEDNN_OPTS=0

# Limit OpenMP threads to 1 to prevent CPU core contention
OMP_NUM_THREADS=1

# Hide GPUs to bypass cuInit 303 deadlocks and force fast CPU execution
CUDA_VISIBLE_DEVICES="-1"

# Suppress TensorFlow C++ Cuda warnings to keep logs clean
TF_CPP_MIN_LOG_LEVEL=3